body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    
    
}
#box1{
    flex:1.2;
    background-color: rgb(26, 26,
     60)
   ;
}
#box2{
    flex:2.5;
   
  
}
#box3{
    flex:1.7;
    background-color: rgb(30, 30, 66);
    
   
}
    
.box {
    flex: 1.5;
    padding: 20px;
    margin: 10px;
    background-color: #0c1044b5; /* Green color for the control panel */
    border-radius: 8px;
    text-align: center;
    max-width: 100%;
    width: 100%;
    /* color: #FFFFFF; */
    

   
}

.control-box {
    background-color:#0c1044c2; /* Green color for the control panel */
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 24px;
    background-color:#FFFFFF;
}

.action-button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.start {
    background-color: #1dd1809d;
    color: #fff;
}

.stop {
    background-color:#3e73abf5;
    color: #fff;
}
.sampleload {
  
    background-color: #1dd1809d;
    color: #fff;  
}
.status-text {
    font-size: 18px;
    color: 
    
    #FFFFFF;
}

.simulation-title {
    font-size: 20px;
    color:#FFFFFF;
}

.simulate-start {
    background-color: #1dd1809d;
    color: #fff;
}

.simulate-stop {
    background-color:#3e73abf5;
    color: #fff;
}
.open-door, .close-door {
    background-color: #FF5733;
    color: #fff;
}

.data-title {
    font-size: 20px;
    color: #FFFFFF;
}

.data-container {
    font-size: 16px;
    color:#FFFFFF;
}
 
.config-title {
    font-size: 20px;
    color:#FFFFFF;
} 

.configuration select,
.configuration input[type="number"] { 
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
   
   
} 

.configuration select {
    background-color: #fff;


}




.dialogue-box{
    /* width: 60%;
    height: 30%; */
    border-radius: 8px;
    position: absolute;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.606);
    transition: 0.3s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 9999; */
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .dialogue-box button {
    padding: 0rem 1rem;
    margin: 0.5rem;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.606);
    border-style: none;
    /* background-color: green; */
    color: white;
  }
  #xrf-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


#xrf-image-container img {
    width: 400px; /* Fixed width */
    height: 250px; /* Fixed height */
}
#box3 {
    position: relative;
}

#box3 p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(153, 239, 129, 0.8);
    color: rgb(8, 8, 8);
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    width: 90%;
}

     
#box2 {
    flex: 2;
    background-color: #c0bac0e2; /* Replace with the desired color code */
}



 


/* Add more styles for other elements as needed */

@media only screen and (min-width: 600px) {
    .box {
        flex: 1.5;
    }
}

@media only screen and (min-width: 900px) {
    .box {
        flex: 2;
    }
}






        /* Additional CSS styles for the Save Diagram button */
        #save-diagram-button {
            background-color: #4a8864; /* Blue accent color */
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            transition-duration: 0.4s;
        }

        #save-diagram-button:hover {
            background-color: rgb(47, 41, 128) /* Darker shade of blue on hover */
        }
  

        .navbar {
            display: flex;
            align-items: center;
            width: 95vw;
            border-left: 6px solid rgb(205, 5, 245);
            border-top: 6px solid rgb(205, 5, 245);
            border-bottom: 6px solid white ;
            border-right: 6px solid #f0f0f0;
            margin-left: 0.5vw;
          }


          

label[for="sample"] {
    color: floralwhite;
    margin-bottom: 10px;
}


/* Style the select element */
#sample {
    font-size: 16px; /* Adjust the font size as needed for the options */
    padding: 5px; /* Adjust the padding as needed */
}



/* Style the voltage slider container */
.voltage-slider-container {
    margin-bottom: 20px;
}

/* Style the colorful slider */
.colorful-slider {
    width: 100%;
    background:  violet;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
   
}

.colorful-slider::-webkit-slider-thumb {
  
    width: 20px;
    height: 20px;
    background-color: rgb(41, 168, 24);
    border-radius: 50%;
    cursor: pointer;
}
/* Style the slider value */
.slider-value {
    
    color: white; /* Set the text color to white */
}
#box2 {
    width: 100%;
   
}
@media (max-width: 768px) {
    .container {
      display: flex;
      flex-direction: column;
      /* Stack boxes vertically */
    }
  
    .box {
      flex: none;
      width: 100%;
    }
  
    .first-box {
      flex: none;
      width: fit-content;
      max-width: none;
      align-items: flex-start;
      /* Align divs to the left */
    }
  
    .inner-div {
      max-width: none;
      /* Remove maximum width */
    }
  }